/* slideshow containers */
*{
  box-sizing: border-box;
}
body{
  background-color: grey;
  margin: 0px;
  padding:0px;
  border-radius: 19mm;
  width: 100vw;
}
/* header{
  background-color: black;
  width: 100vw;
 
}
header::after{
  content: '';
  display:flex;
  clear: both;
} */
.slider{
  position: relative;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15%;
}
.image{
  width:1000px;
  height:600px;
  border-radius: 10px;
  

}
.right-arrow{
  position:absolute;
  top:50%;
  right:2px;
  font-size:3rem;
  color:rgba(0, 0, 0, 0.562);
  z-index:10;
  cursor: pointer;
  user-select: none;
}
.left-arrow{
  position:absolute;
  top:50%;
  left:2px;
  font-size:3rem;
  color:rgba(0, 0, 0, 0.562);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform:scale(1.05) ;
}
.logo{
  float:left;
  padding-top: 10px;
  width:50px;
  height:70px;
  margin-right: 10%;
  background-color: black;
}
.navbar{
  width:100%;
  float: right;
  margin:0 auto;
  display: flex;
  
 
  
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  background-color: black;
}
nav li{
  display: inline-block;
  margin-right: 70px;
  padding-top: 20px;
  font-size: 24px;
}
nav a{
  color:royalblue;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover{
  color:whitesmoke;
}


.hero-imageContainer{

  background-repeat: no-repeat;
  padding: 300px;
  height: 100px;
  background-size: cover;
  background-position: center;
 
 
}
/* .hero-header{
  font-size:42px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#4632cd;
  line-height: 1.4;
  letter-spacing: 0.4em;
  text-align: center;
  margin-top: -300px;
  
  
} */
.homepage-content{
  text-align: center;
}
.homepage-header{
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

/* grid  */
/* .main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100vw;
  height:100%;
  margin-top: 2%;

  
} */
.card{
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  
  
}
.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px white,
    0 24px 46px var(--box-shadow-color);
}

.photos{
  padding-bottom: 0.5rem;
  height: 200px;
  object-fit: cover;
  border-radius:19mm;
  width: 100%;
}
.product-name{
font-family: sans-serif;
font-weight: 600;
font-size: 2rem;


}

.price{
  text-align: justify;
  font-style: italic;
  position: sticky;
  margin-top: -1%;
  font-size: 24px;
 
  
}



@media (max-width:870px){
 
  .slider{
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }
  
  .image{
    height: 100vh;
    width:100vw;
    margin: 0 auto;
    object-fit: cover;
  }
  .info{
    width:100vw;
  }
  
  
}

@media (min-width:500px){
 

  .navbar{
    width: 800%;
  }
  .image{
    height: 80vh;
    width:100vw;
    margin: 0 auto;
    object-fit: cover;
  }
  .slider{
    width:65%;
    margin-left: auto;
    margin-right:auto;
  }
  
 
  
 
}
    
/* contact */
.hero-image__2{

  background-repeat: no-repeat;
  padding: 200px;
  height: 100%;
  width:100%;
  background-size: cover;
  background-position: absolute;
  margin-bottom: 1%;
}

/* .title1{
  text-align:center;
  font-size: 24px;
} */


.continue{
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;
 display: block;
 margin: 0 auto;
}

.continue:hover{
  background-color: white;
  color: black;
}

/* Info */
.contact-container{
 padding: 0px 10px 20px 10px;
 
  
}
.info{
  width: 800px;
  height: 100px;
  padding: 10px 20px;
  border: black solid;
  border-radius: 5px;
  display:block;
  margin-left: 10px;  
}
.info-container{
  margin-left:22%;
}


/* footer */

.footer {
  background-color: black;
  font-size: 14px;
  margin-top: 1%;
  height: 10vh;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.copyright{
  width:50%;
  color: white;
  text-align: center;
  
}
/* sits right in the footer */
.bottom-logo{
  padding: 0px;
  width: 40px;
  /* height: 50px; */
  float: left;
  margin: auto;

  
}
  
